@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

.iceCream-container {
    width: 100%;
    height: 100%;
    display: flex;




}

.ice-cream-bg {
    width: 60%;
}

.ice-cream-bg img {
    max-width: 100%;
}

/* .iceCream-container::before {
    position: absolute;
    content: '';
    background-image: url(../assets/images/bg1.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

.wizard-form-conatiner {
    position: relative;
    width: 40%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* background-image: url(../assets/images/bg2.jpg); */
    /* background: linear-gradient(45deg, #6e4f4f, #7a3333e0); */
    color: var(--darkPink);
    z-index: 0;
    margin-top: -100px;
    z-index: 1;
}

.wizard-form-conatiner::before {
    content: '';
    position: absolute;
    background: url(../assets/images/formBg.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    bottom: 19%;
    z-index: -1;
}



.wizard-form {
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(45deg, white, #ffffffd9); */
    /* gap: 50px; */
}

.step-content {
    font-size: 25px;
}

.custom-dropdown {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    transition: all 0.4s ease;
}

.dropdown-selected,
.dropdown-menu {
    transition: all 0.4s ease;
    color: var(--pink);
}

.dropdown-selected {
    border: 1px solid #e16076;
    padding: 10px;
}

form {
    display: flex;
    /* gap: 20px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns{
        display: flex;
    gap: 20px;
}